* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3e3dc;
}

/* NAVBAR (MATCH HOME) */
.navbar {
  background-color: #222838;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a.active {
  text-decoration: underline;
}


.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.page-hero {
  background-color: #f1e2da;
  text-align: center;
  padding: 50px 20px;
}

/* TRACKER */
.tracker {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 6px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #698a9c;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #BD8C8C; /* darker shade */
  transform: translateY(-2px);
  transition: all 0.3s ease;
}


/* RESULTS */
.results {
  margin-top: 25px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  margin: 10px 0;
  border-radius: 10px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background-color: #bd8c8c;
  border-radius: 10px;
  transition: width 0.5s;
}

#saveBtn {
  margin-top: 10px;
  padding: 8px;
  background-color: #222838;
  color: white;
  border: none;
  cursor: pointer;
}

/* FOOTER (MATCH HOME) */
footer {
    background-color: #222838;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer input {
  padding: 8px;
  margin-top: 10px;
}

footer button {
  padding: 8px 12px;
  background-color: #698a9c;
  color: white;
  border: none;
  margin-left: 5px;
}


/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #222838;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  footer {
    flex-direction: column;
    gap: 20px;
  }
}
