* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #eedad3;
}

/* NAVBAR */
.navbar {
  background-color: #222838;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a.active {
  text-decoration: underline;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* HERO */
.page-hero {
  background-color: #f1e2da;
  text-align: center;
  padding: 50px 20px;
}

.page-hero h1 {
  font-size: 38px;
}


.reading-content {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 6px;
}

.reading-content select {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

.book-display h3 {
  margin-top: 20px;
  font-size: 22px;
}

.book-display p {
  margin-top: 10px;
  line-height: 1.6;
}

/* SECTIONS */
.flow-section {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 6px;
  text-align: center;
}

.flow-section h2 {
  margin-bottom: 15px;
}

.flow-section button {
  padding: 10px 18px;
  background-color: #698a9c;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.flow-section input {
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
}

/* COMPLETED LIST */
#completedList {
  list-style: none;
  margin-top: 15px;
}

#completedList li {
  background: #bd8c8c;
  color: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

/* FOOTER */
footer {
    background-color: #222838;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer input {
  padding: 8px;
  margin-top: 10px;
}

footer button {
  padding: 8px 12px;
  background-color: #698a9c;
  color: white;
  border: none;
  margin-left: 5px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #222838;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .nav-links.show {
    display: flex;
  }



  footer {
        flex-direction: column;
        gap: 30px;
    }


}
