* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  font-family: Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #EEDAD3;
}

/* NAVBAR */
.navbar {
  background-color: #222838;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a.active {
  text-decoration: underline;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.page-hero {
  background-color: #f1e2da;
  text-align: center;
  padding: 50px 20px;
}

.page-hero h1 {
  font-size: 38px;
}

/* RECOMMENDER */
.recommender {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.controls {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.controls select,
.controls button {
  padding: 10px;
}

.result {
  margin: 20px 0;
  animation: fade 0.5s;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.actions button {
  margin: 10px;
  padding: 10px 15px;
  background-color: #698A9C;
  color: white;
  border: none;
  cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #222838;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 61px;
}

footer input {
  padding: 8px;
  margin-top: 10px;
}

footer button {
  padding: 8px 12px;
  background-color: #698a9c;
  color: white;
  border: none;
  margin-left: 5px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #222838;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  footer {
    flex-direction: column;
    gap: 30px;
  }
}

